# Packages
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env

# npm env
.npmrc

# Local development
.vscode/
playground.ts
picnic-app/
consumer-test/

# Test coverage
coverage/